{% extends '_base.html' %}
{% load static %}

{% block title %}
    Home page
{% endblock title %}

{% block content %}

    <div style='display:flex'>

        <div style="flex: 1; justify-content: left">
            {% for article in articles %}

                <article style="margin-top: 30px;">
                    <div class="card" style="width: 54rem;">
                        <div class="card-img-top" style="margin-top: 13px; align-content: center; display:flex;">
                            <img src="{% static 'user-avatars/def_avatar.jpg' %}" alt="avatar" height="48" width="48"
                                 style="margin-left: 2%">
                            <p style="margin-left: 2.5%; margin-top: 12px;">
                                {{ article.author.username }}
                            </p>
                            <p style="margin-left: 2.5%; margin-top: 16px; font-size: 12px;">
                                {{ article.date_article_created|timesince }} ago
                            </p>
                        </div>

                        <div class="card-body">
                            <h3 class="card-title" style="margin-bottom: 2%;">
                                <a href="/articles/{{ article.id }}" class="link-secondary"
                                   style="color: black; text-decoration: unset">
                                    {{ article.name }}
                                </a>
                            </h3>

                            <div style="font-size: 12px; display:flex;">
                                <img src="{% static 'images/clock_icon.png' %}" height="15px" width="15px" alt="">
                                <p style="margin-left: 1%;">
                                    {{ article.reading_time }} minute to read
                                </p>

                                <img src="{% static 'images/views_icon.webp' %}" height="15px" width="15px" alt=""
                                     style="margin-left: 20px; margin-top: 1px;">
                                <p style="margin-left: 1%;">
                                    {{ article.views }} views
                                </p>
                            </div>

                            {% for tag in article.tags.all %}
                                <a href="articles/by-tag/{{ tag.slug }}" class="badge badge-primary"
                                   style="margin-bottom: 1%; font-size: 16px; color:#1f8ad5; text-decoration: unset;
                                  border: 1px solid #175fc9; :hover{color:#143cd2;}">
                                    {{ tag.name|lower }}
                                </a>
                            {% endfor %}

{#                            <img height="300" width="100%" src="{{ article.logo_image }}" alt="">#}
                        
                            <p class="card-text">
                                {{ article.text|truncatewords:36 }}
                            </p>
                            <a href="/articles/{{ article.id }}" class="btn btn-primary" style="margin-top: 1%;">
                                Read article
                            </a>

                            <hr>
                            <div>
                                <span>Likes</span>
                                <span>Bookmarks</span>
                                <span>share</span>
                                <span>comments</span>
                            </div>
                        </div>
                    </div>
                </article>

            {% endfor %}
        </div>

        <div style="flex-direction: column; justify-content: right">

            <div>
                {% if user.is_authenticated %}
                    <a href="articles/create-article/" class="btn btn-primary"
                       style="margin-top: 2rem; width: 14rem; margin-left: 4rem; margin-bottom: 2rem;">
                        Create article
                    </a>
                {% else %}
                    <a class="btn btn-danger disabled"
                       style="margin-top: 2rem; width: 14rem; margin-left: 4rem; margin-bottom: 2rem;">
                        Log in to create article
                    </a>
                {% endif %}

            </div>

            <div class="card" style="width: 22rem;">
                <div class="card-body" style="display:flex; flex-direction: column;">
                    <h6 style="margin-bottom: 0; margin-left: 2.5%; margin-top: 1%; font-weight: bold;">
                        Top viewed articles
                    </h6>

                    <hr>

                    {% for article in top_viewed_articles %}
                        <span style="margin-bottom: 3.5%;">
                            <span style="margin-left: 0.55rem;">
                                <a href="/articles/{{ article.id }}" style="text-decoration: none; color: forestgreen">
                                    {{ article.name }}
                                </a>
                            </span>
                            <span style="justify-content: right">{{ article.views }}</span>
                        </span>
                    {% endfor %}

                </div>

            </div>

            <div style="margin-top: 1.25rem;"></div>

            <div class="card" style="width: 22rem;">
                <div class="card-body" style="display:flex; flex-direction: column;">
                    <h6 style="margin-bottom: 0; margin-left: 2.5%; margin-top: 1%; font-weight: bold;">
                        Top viewed authors
                    </h6>
                    <hr>
                    {% for author in top_viewed_authors %}
                        <span style="margin-bottom: 3.5%;">
                            <span style="margin-left: 0.55rem;">
                                <a href="" style="text-decoration: none; color: forestgreen">
                                    {{ author }}
                                </a>
                            </span>
{#                            <span style="justify-content: right">{{ article.views }}</span>#}
                        </span>
                    {% endfor %}
                </div>
            </div>

        </div>


    </div>

{% endblock content %}
